@model BuyerAddressViewModel

<h2>Edit Address</h2>
<form asp-action="SaveAddress" method="post">
    <div>
        <label for="StreetLine">Street Line:</label>
        <input asp-for="StreetLine" id="StreetLine" />
        <span asp-validation-for="StreetLine"></span>
    </div>
    <div>
        <label for="City">City:</label>
        <input asp-for="City" id="City" />
        <span asp-validation-for="City"></span>
    </div>
    <div>
        <label for="Country">Country:</label>
        <input asp-for="Country" id="Country" />
        <span asp-validation-for="Country"></span>
    </div>
    <div>
        <label for="PostalCode">Postal Code:</label>
        <input asp-for="PostalCode" id="PostalCode" />
        <span asp-validation-for="PostalCode"></span>
    </div>
    <div>
        <label for="UseSameAddress">Use Same Address for Shipping:</label>
        <input asp-for="UseSameAddress" type="checkbox" id="UseSameAddress" />
    </div>
    <button type="submit">Save Address</button>
</form>
